


body {
  background-image: url(v617batch2-bb-01-technology.jpg);
}
@import url("https://fonts.cdnfonts.com/css/8bit-wonder");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

img {
  position: absolute;
}

.game-board {
  width: 100%;
  height: 50rem;
  border-bottom: 1.5rem solid rgb(40, 168, 38);
  background: linear-gradient(#87ceeb, #e0f6ff);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}


.Inicio:hover{
  background-color: #0d5289;
}
.Videos:hover{
  background-color: #0d5289;
}
.Sobre:hover{
  background-color: #0d5289;
}

.dropdown:hover{
  background-color: #0d5289;
  }


  
#score {
  font-family: "8BIT WONDER", sans-serif;
  color: white;
  -webkit-text-stroke: 0.4rem black;
  font-size: 4rem;
  padding: 2rem;
}

.cloud {
  width: 55.5rem;
  animation: cloud-animation 15s infinite linear;
}

.pipe-img {
  bottom: 0;
  width: 12rem;
  animation: pipe-animation 2s infinite linear;
}

.mario-gif {
  bottom: 0;
  width: 9rem;
}

.jump {
  animation: mario-jump 600ms ease-out;
}

#reload {
  display: none;
  background: none;
  margin: 25rem auto;
  width: 8rem;
}

#reload img {
  width: auto;
}

@keyframes cloud-animation {
  from {
    right: -35rem;
  }

  to {
    right: 100%;
  }
}

@keyframes pipe-animation {
  from {
    right: -15rem;
  }

  to {
    right: 100%;
  }
}

@keyframes mario-jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 12rem;
  }

  50% {
    bottom: 12rem;
  }

  60% {
    bottom: 12rem;
  }

  100% {
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .pipe-img {
    bottom: 0;
    width: 12rem;
    animation: pipe-animation 1.3s infinite linear;
  }
}
.JJ {
  text-align: center;
  font-size: 30px;
  color: white;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 55px;
  font-size: 2vh;
}

header {
  background-color: rgb(255, 255, 255);
  background-image: url(menu.jpeg);
  background-size: contain;
  background-position: 19vh;
  padding: 8px;
}

li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 145px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
}
a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}

div li a {
  font-size: 24px;
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 15px;
}
div a {
  margin-bottom: 10px;
}

.dropdown-menu {
  font-size: 24px;
  position: absolute;
  display: none;
}

.dropdown-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-radius: 6px;
  height: 30px;
  width: 145px;
  background-color: #0d5289;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 24px;
}
